body {
    --dur: 2000000ms;
}
.page-wrapper * { 
    animation-name: look-away;
    animation-timing-function: linear;
    animation-duration: var(--dur);
    animation-iteration-count: infinite;
    position: relative;
    overflow: visible;
    background-color: rgba(128, 128, 128, 0.2);
}

.page-wrapper *::after { content: "WHEEEEEEEEEEEEEEEEEEEEEEEEE"; position: absolute; top: 0; left: 0; animation: look-away2 linear var(--dur) infinite; background-color: rgba(128, 128, 128, 0.2);}
.page-wrapper *::before { content: "WHOOOOOOOOOOOOOOOOAH"; position: absolute; top: 0; left: 0; animation: look-away3 linear var(--dur) infinite; background-color: rgba(128, 128, 128, 0.2);}

@keyframes bad-anim  {
    from {
        transform: rotate3d(0);
    }
    to {
        transform: rotate3d(0, 1, 0.5, 3.142rad);
    }
}

@keyframes look-away  {
    0% { transform: rotate3d(0.654818838214205,0.516962873666498,0.512371791760295,1.67857688068198rad) }
    1% { transform: rotate3d(0.328370351687763,0.970696681392877,0.793510473996674,0.191083270374607rad) }
    2% { transform: rotate3d(0.671055782799052,0.131132278656932,0.67546504774256,5.15776516280343rad) }
    3% { transform: rotate3d(0.0491076946672463,0.917910869855546,0.0299007843004075,4.84218662819994rad) }
    4% { transform: rotate3d(0.117821086606146,0.171183046404838,0.412282790466084,1.99402891062512rad) }
    5% { transform: rotate3d(0.951663223342034,0.525250722820413,0.0103548656406082,4.46194949219057rad) }
    6% { transform: rotate3d(0.907678704330149,0.516325466207003,0.319906959794212,5.7003551477268rad) }
    7% { transform: rotate3d(0.362728536930215,0.639582819964371,0.924463507547862,4.64004531194835rad) }
    8% { transform: rotate3d(0.624886130278558,0.189771611790261,0.514665508795154,5.24339543259464rad) }
    9% { transform: rotate3d(0.296853039331839,0.0956139547469196,0.120032912140252,4.30235044112126rad) }
    10% { transform: rotate3d(0.378046000254354,0.115457953939169,0.893958376348364,2.05994911384251rad) }
    11% { transform: rotate3d(0.432046007809798,0.700122048409466,0.692197019052459,3.77791602925181rad) }
    12% { transform: rotate3d(0.217388998629477,0.548595987874889,0.115781263185604,3.64641567495413rad) }
    13% { transform: rotate3d(0.282217149342526,0.38324049975549,0.651204004006829,5.17187466431307rad) }
    14% { transform: rotate3d(0.157098489761499,0.753354104445118,0.0338766110260925,1.90699757722937rad) }
    15% { transform: rotate3d(0.94536180972353,0.73945176279192,0.985283565930211,2.90898275221477rad) }
    16% { transform: rotate3d(0.306582869327835,0.275327177070885,0.0299184388251003,4.02578884743769rad) }
    17% { transform: rotate3d(0.0563969595045855,0.430946767601197,0.185000801681842,1.58240303787621rad) }
    18% { transform: rotate3d(0.864601813691002,0.406449878185322,0.93413712763655,2.98630634966144rad) }
    19% { transform: rotate3d(0.823554323023297,0.176006431009776,0.0455033354501463,5.56535356444229rad) }
    20% { transform: rotate3d(0.980152892255846,0.690010130054984,0.475790279117758,2.62749052377375rad) }
    21% { transform: rotate3d(0.277237065184488,0.295061060309276,0.813067658345912,1.8122648158644rad) }
    22% { transform: rotate3d(0.734024638975862,0.563418979390314,0.454886089354154,0.0676946276481672rad) }
    23% { transform: rotate3d(0.110245754035625,0.0370846193023254,0.992350965270107,2.82918244194211rad) }
    24% { transform: rotate3d(0.744922361705004,0.486392980260877,0.0765654449885158,5.82817031012416rad) }
    25% { transform: rotate3d(0.738280632203912,0.158979428961333,0.380755062981982,4.73564962003114rad) }
    26% { transform: rotate3d(0.154073031421295,0.152205426875989,0.139548907661056,1.34597547691525rad) }
    27% { transform: rotate3d(0.459625624662626,0.480607996300741,0.146308077652192,5.93762180917755rad) }
    28% { transform: rotate3d(0.992215313951756,0.629662766615559,0.0200548458989762,5.31400058817596rad) }
    29% { transform: rotate3d(0.842920989234463,0.388127938631762,0.0154706177829432,1.02390635611433rad) }
    30% { transform: rotate3d(0.18288121288487,0.533462199595633,0.642595141232151,0.883182805472315rad) }
    31% { transform: rotate3d(0.721930506686036,0.508286585041449,0.887272456056052,4.29949542313889rad) }
    32% { transform: rotate3d(0.685875349047186,0.570587115528403,0.879054511606695,5.12034807922245rad) }
    33% { transform: rotate3d(0.426209513324268,0.0263310210994192,0.440186050714784,1.86032082078486rad) }
    34% { transform: rotate3d(0.534858397384325,0.0603961878966913,0.0674596926085868,4.48241703973767rad) }
    35% { transform: rotate3d(0.126580097631915,0.370190374700935,0.548143111601381,2.86172669592826rad) }
    36% { transform: rotate3d(0.772940624666641,0.276062560135804,0.591845018757996,3.14289442310836rad) }
    37% { transform: rotate3d(0.424319696797743,0.233586116500215,0.572100509104426,4.06218668362343rad) }
    38% { transform: rotate3d(0.54019204140919,0.705019502636327,0.714620175999891,5.32075170119rad) }
    39% { transform: rotate3d(0.562969288018706,0.160727001479353,0.84356175348967,3.73704373503571rad) }
    40% { transform: rotate3d(0.816975223184974,0.576068610182301,0.102846913520764,5.66002468651993rad) }
    41% { transform: rotate3d(0.891667507287228,0.165244596470055,0.906460201307461,1.5659113621804rad) }
    42% { transform: rotate3d(0.577007217863584,0.250806866484291,0.739830523269935,0.447389382492518rad) }
    43% { transform: rotate3d(0.458916823485678,0.106025893513703,0.333810521824192,4.34958759297367rad) }
    44% { transform: rotate3d(0.354056631207084,0.3270286379712,0.163432510236818,2.60985038057211rad) }
    45% { transform: rotate3d(0.865688107951734,0.792598991129867,0.185534200191294,2.43445271477169rad) }
    46% { transform: rotate3d(0.476182285003535,0.551759348183435,0.222510895161979,1.02317427637311rad) }
    47% { transform: rotate3d(0.756769928502418,0.0427284402363154,0.423865915773004,2.67364880837027rad) }
    48% { transform: rotate3d(0.471419592324073,0.891576470248194,0.792893909631681,1.01124088744496rad) }
    49% { transform: rotate3d(0.579268587705498,0.164876229340067,0.852746520192374,4.26319660672381rad) }
    50% { transform: rotate3d(0.398820887621719,0.357874432317271,0.14429387541104,1.74394548514929rad) }
    51% { transform: rotate3d(0.487165346144779,0.588184640664077,0.39760908843829,0.140752545657054rad) }
    52% { transform: rotate3d(0.108756117028189,0.43472966204403,0.899567229131163,0.289933849285536rad) }
    53% { transform: rotate3d(0.520837081435962,0.612637495721503,0.79196446049696,0.24090708483382rad) }
    54% { transform: rotate3d(0.686379999906986,0.207022029703812,0.777726806182555,0.553915771146584rad) }
    55% { transform: rotate3d(0.440446503364633,0.502055776132963,0.987192143353633,5.3566856891415rad) }
    56% { transform: rotate3d(0.582171836051059,0.536468729769911,0.56211315704346,0.615912924694023rad) }
    57% { transform: rotate3d(0.842108242958279,0.39258399663771,0.851943177092498,0.157784815387686rad) }
    58% { transform: rotate3d(0.183454494266401,0.883227180924344,0.9851304362007,2.67563063119834rad) }
    59% { transform: rotate3d(0.435737122128414,0.739323532160978,0.97756096160041,4.07094702967039rad) }
    60% { transform: rotate3d(0.830798466157221,0.620722857655695,0.470953733749239,3.41134687128535rad) }
    61% { transform: rotate3d(0.613484765232527,0.273769179030861,0.655926491140199,0.387188949805402rad) }
    62% { transform: rotate3d(0.533217677316266,0.941358611071503,0.927613799609968,5.8149154629579rad) }
    63% { transform: rotate3d(0.687670851741336,0.694705204361058,0.346134105057908,5.35436253007244rad) }
    64% { transform: rotate3d(0.886062708767921,0.700761578341988,0.0298653673502615,0.887498471070945rad) }
    65% { transform: rotate3d(0.427115238416297,0.565217126439939,0.19640403052637,0.230393789742422rad) }
    66% { transform: rotate3d(0.94551832203334,0.798223798818347,0.684245467131049,1.09832968481693rad) }
    67% { transform: rotate3d(0.770777257633433,0.138475353482382,0.437638071458636,3.76364066399461rad) }
    68% { transform: rotate3d(0.063611156732076,0.940993060925482,0.617728001820191,1.73449277481381rad) }
    69% { transform: rotate3d(0.847608308499723,0.084947214157508,0.715024488525646,4.93412128465599rad) }
    70% { transform: rotate3d(0.937633801185475,0.890070120224158,0.281380715025581,5.45109112419246rad) }
    71% { transform: rotate3d(0.681524114453335,0.343693395490024,0.674098670280838,5.14772324905279rad) }
    72% { transform: rotate3d(0.377891782939114,0.535168343355864,0.510430802736005,1.8577567281721rad) }
    73% { transform: rotate3d(0.210402994961947,0.570405030975672,0.367665275247621,5.95606957534524rad) }
    74% { transform: rotate3d(0.547679508306212,0.396492387651946,0.632145468686556,2.89335610747281rad) }
    75% { transform: rotate3d(0.498015891711092,0.904837834488113,0.299988795149695,6.14018819645367rad) }
    76% { transform: rotate3d(0.679391347672013,0.400991889163913,0.962933786895327,3.83369004194981rad) }
    77% { transform: rotate3d(0.267795309010043,0.0302995004659836,0.174658241491905,4.45188476006546rad) }
    78% { transform: rotate3d(0.520674484256914,0.0307465230273212,0.886075910717863,5.24156645951535rad) }
    79% { transform: rotate3d(0.137348394717131,0.747846430681341,0.662532376680361,5.87752009551199rad) }
    80% { transform: rotate3d(0.0145292238894483,0.191138595180643,0.951485924810884,0.261562616660554rad) }
    81% { transform: rotate3d(0.182621194752131,0.537846343354352,0.756171899694696,5.72694396119707rad) }
    82% { transform: rotate3d(0.967263465443298,0.396469566604435,0.688914789133669,2.87859412984903rad) }
    83% { transform: rotate3d(0.710619881192312,0.831562742959069,0.527164538114594,2.81935999955095rad) }
    84% { transform: rotate3d(0.708207454172516,0.120676676552801,0.0759993212013364,5.83464321119858rad) }
    85% { transform: rotate3d(0.369595472929735,0.96541770962758,0.352749642777983,0.360913381738749rad) }
    86% { transform: rotate3d(0.995094929003271,0.410805849875609,0.852563762575972,3.51302684791806rad) }
    87% { transform: rotate3d(0.975598184162511,0.0405889790468139,0.928148080410842,4.94506759329307rad) }
    88% { transform: rotate3d(0.669017091490117,0.110897211365668,0.122579868359231,3.04207333190724rad) }
    89% { transform: rotate3d(0.684307405607555,0.160598047426762,0.631004340880966,4.26171308639052rad) }
    90% { transform: rotate3d(0.812855589451466,0.293939503988022,0.935192073122969,4.98954986606204rad) }
    91% { transform: rotate3d(0.387044280721979,0.769544922257109,0.054346214831398,6.20270561020105rad) }
    92% { transform: rotate3d(0.417100712024278,0.749549592364535,0.786213828503712,5.70500859131466rad) }
    93% { transform: rotate3d(0.45987212931203,0.0636463204862573,0.774469234017337,3.71084618747149rad) }
    94% { transform: rotate3d(0.806961056207867,0.625033191908743,0.231501345522554,5.82298374617817rad) }
    95% { transform: rotate3d(0.244691986290518,0.698733299918196,0.670151416366761,1.46707842178805rad) }
    96% { transform: rotate3d(0.334671152209484,0.567483429667227,0.0536110529231326,4.72758034302388rad) }
    97% { transform: rotate3d(0.89123863462151,0.266364432557194,0.359604949295033,3.32043237381847rad) }
    98% { transform: rotate3d(0.0909027339668753,0.964573012184044,0.673146892830562,0.0489027513452317rad) }
    99% { transform: rotate3d(0.438883975530141,0.261211288006736,0.571570822680283,5.4493049072089rad) }
    100% { transform: rotate3d(0.639186671151683,0.131696673499687,0.746204055596616,0.266198718506025rad) }
}


@keyframes look-away2  {
    0% { transform: rotate3d(0.187483212261215,0.595075765590273,0.863673527422158,3.11767856264735rad) }
    1% { transform: rotate3d(0.353438448505329,0.676961365020408,0.518817566646845,0.408388562388074rad) }
    2% { transform: rotate3d(0.396128309856637,0.248202488689468,0.895097940354023,1.88592488406013rad) }
    3% { transform: rotate3d(0.530592996144776,0.196576294846891,0.850729620577954,1.91899896809164rad) }
    4% { transform: rotate3d(0.993324928190924,0.624856701525727,0.927089264729461,0.46565897197249rad) }
    5% { transform: rotate3d(0.411730371462293,0.403706056594588,0.24244073791762,1.28933750740865rad) }
    6% { transform: rotate3d(0.58238650855585,0.164192455962114,0.988257966652164,3.39933770665374rad) }
    7% { transform: rotate3d(0.408246425482313,0.886579638629847,0.99167633880917,0.238910701206787rad) }
    8% { transform: rotate3d(0.96076493859688,0.403168858008517,0.22654986515525,4.21817629613525rad) }
    9% { transform: rotate3d(0.50498848000088,0.200355073209478,0.730785843388883,0.435261199701848rad) }
    10% { transform: rotate3d(0.853972617737121,0.878692700356611,0.119074573286445,5.50199663729239rad) }
    11% { transform: rotate3d(0.603460840592181,0.50964886332285,0.767827136908327,3.43201403191187rad) }
    12% { transform: rotate3d(0.638579118289458,0.913855062516803,0.793078769979804,2.50588278324876rad) }
    13% { transform: rotate3d(0.801370429749533,0.578050470853174,0.142311725831285,1.62585091257568rad) }
    14% { transform: rotate3d(0.761313931664974,0.526543783800798,0.477595986768502,6.07093216755997rad) }
    15% { transform: rotate3d(0.940544314553627,0.967902610873659,0.0401418088864703,2.17757986809909rad) }
    16% { transform: rotate3d(0.811306226566944,0.948712257804926,0.35530376265349,6.17800535142673rad) }
    17% { transform: rotate3d(0.00524981920138146,0.563629203305492,0.462270311968527,1.7495638290679rad) }
    18% { transform: rotate3d(0.452493294843004,0.494586475989599,0.334119515906409,5.26883791498085rad) }
    19% { transform: rotate3d(0.202948810523696,0.781891749105077,0.291615505749296,1.12856520792432rad) }
    20% { transform: rotate3d(0.673228515027243,0.766091268198941,0.508066679025553,0.702268449698628rad) }
    21% { transform: rotate3d(0.809517346014355,0.0818556916348335,0.152761292144756,5.86060450660135rad) }
    22% { transform: rotate3d(0.0601203974861243,0.433776974811971,0.326941767620451,4.62924219763815rad) }
    23% { transform: rotate3d(0.110961818012959,0.638847776254158,0.708974130299098,4.57752037979079rad) }
    24% { transform: rotate3d(0.0531337572667956,0.0815279528547855,0.744314294522292,2.64549179297593rad) }
    25% { transform: rotate3d(0.0236630145321292,0.294685842124966,0.291068470542305,6.2303071704478rad) }
    26% { transform: rotate3d(0.38898440719836,0.853333904895968,0.86339016264287,5.47900136000597rad) }
    27% { transform: rotate3d(0.225179237822452,0.14796226043411,0.00265124229959812,5.38680951762459rad) }
    28% { transform: rotate3d(0.189858469498727,0.890405604418035,0.850270365922886,3.96496851578599rad) }
    29% { transform: rotate3d(0.877639685098554,0.39756213265211,0.696277197353917,3.93273812498813rad) }
    30% { transform: rotate3d(0.404487780393993,0.796916073542354,0.134135684046345,3.55651896628253rad) }
    31% { transform: rotate3d(0.275759552894755,0.302697723800822,0.465046064221696,5.45747436186631rad) }
    32% { transform: rotate3d(0.55861235934312,0.622648436623064,0.16388910340434,2.03096218489145rad) }
    33% { transform: rotate3d(0.00150782360453161,0.372740102788453,0.544172920162356,0.707886922509833rad) }
    34% { transform: rotate3d(0.0218613950230939,0.100831840863564,0.240786851150634,1.816843040983rad) }
    35% { transform: rotate3d(0.417459232925124,0.150129591444404,0.767062833439321,1.76329767376859rad) }
    36% { transform: rotate3d(0.248083995338837,0.129446555712384,0.196589663073628,5.42457853119147rad) }
    37% { transform: rotate3d(0.580861548124894,0.199645927257138,0.970421279210501,1.94314914774093rad) }
    38% { transform: rotate3d(0.696160803435758,0.734279575136777,0.936764985862603,0.582933442748009rad) }
    39% { transform: rotate3d(0.910449380183269,0.167319555183036,0.992931329512026,3.92351269058588rad) }
    40% { transform: rotate3d(0.388327838737917,0.00201197609189308,0.118272114472443,6.08623567223018rad) }
    41% { transform: rotate3d(0.188035890688888,0.0222654080148434,0.162029143064882,2.49876922966778rad) }
    42% { transform: rotate3d(0.31304388105654,0.721619305129796,0.481460689493244,5.88380672365128rad) }
    43% { transform: rotate3d(0.726913594194035,0.844720091488793,0.413308673411862,4.77433970717564rad) }
    44% { transform: rotate3d(0.129432421515716,0.722366045300501,0.605614532877268,2.63773208475464rad) }
    45% { transform: rotate3d(0.789095385942983,0.773564139092791,0.437087158367384,2.50113107150829rad) }
    46% { transform: rotate3d(0.880329684604553,0.146675770565444,0.107671582205771,2.57248153725812rad) }
    47% { transform: rotate3d(0.583427211739174,0.976610215501847,0.496662421046291,1.32872462003059rad) }
    48% { transform: rotate3d(0.670969812157816,0.146157957919151,0.553651372856963,2.62128358861248rad) }
    49% { transform: rotate3d(0.426603696133357,0.756938851646775,0.812793359189686,5.98000795895493rad) }
    50% { transform: rotate3d(0.520338482606352,0.739072669558764,0.602321327446504,2.17946761151768rad) }
    51% { transform: rotate3d(0.89911760180525,0.158562582891736,0.658934824417251,0.150832350768189rad) }
    52% { transform: rotate3d(0.842226317069643,0.817514708596533,0.15063304113148,0.51393579894532rad) }
    53% { transform: rotate3d(0.0781748013992762,0.684700155283045,0.561758126563087,5.49136388533016rad) }
    54% { transform: rotate3d(0.263013129564936,0.542598065774152,0.500459859402182,5.28057393649049rad) }
    55% { transform: rotate3d(0.179605865654953,0.991941723498886,0.25148843177974,4.00370310406161rad) }
    56% { transform: rotate3d(0.733214469762861,0.615922148915363,0.816166854996217,3.77398181528197rad) }
    57% { transform: rotate3d(0.190805241287319,0.67358642979087,0.256590341721523,6.13278173237443rad) }
    58% { transform: rotate3d(0.139821627322686,0.165601126665746,0.392544835835429,0.901149516473019rad) }
    59% { transform: rotate3d(0.326729770658487,0.495433637724362,0.2873328405354,1.76121886480622rad) }
    60% { transform: rotate3d(0.876466240763308,0.235137319462577,0.502639080838209,3.24683071556455rad) }
    61% { transform: rotate3d(0.390987474541659,0.697308993941679,0.802764859717648,4.12851558303449rad) }
    62% { transform: rotate3d(0.0784409853769471,0.113420200251682,0.845004487661738,6.09834779526761rad) }
    63% { transform: rotate3d(0.374047835928617,0.223606569403349,0.405632818927925,2.42508645691062rad) }
    64% { transform: rotate3d(0.479607445888735,0.994132094356346,0.859918298613325,4.16925087153929rad) }
    65% { transform: rotate3d(0.870604945766281,0.996128484299525,0.959771176752101,4.80717129428576rad) }
    66% { transform: rotate3d(0.0982223279941874,0.702841895146064,0.434081485288352,4.34974726240561rad) }
    67% { transform: rotate3d(0.148124756023927,0.592502992415259,0.574497565572327,3.29109293048163rad) }
    68% { transform: rotate3d(0.208713554062031,0.480068011570041,0.763340144438512,1.53306425633377rad) }
    69% { transform: rotate3d(0.948607793526098,0.943462570702769,0.850543343370037,1.43219566649375rad) }
    70% { transform: rotate3d(0.30643716616635,0.0585917077410521,0.392958276200472,5.80140547486451rad) }
    71% { transform: rotate3d(0.355598110566188,0.912262982393819,0.0320512781813699,2.22037694887326rad) }
    72% { transform: rotate3d(0.0224465593838004,0.523302356108372,0.704973006616026,3.48084533354661rad) }
    73% { transform: rotate3d(0.308470414331619,0.869524851954767,0.959171145876649,5.99136336364759rad) }
    74% { transform: rotate3d(0.195305065377396,0.691855593042023,0.372163543617486,0.0390836716784672rad) }
    75% { transform: rotate3d(0.596026143705023,0.626778727667978,0.965784964433989,0.608639706985309rad) }
    76% { transform: rotate3d(0.556973282542743,0.00442557799209242,0.548165248784316,5.34425577756951rad) }
    77% { transform: rotate3d(0.411429787271803,0.34199505838345,0.116892578323438,3.13996358311133rad) }
    78% { transform: rotate3d(0.739802433508556,0.160833067751684,0.813259942681431,5.58616329444418rad) }
    79% { transform: rotate3d(0.800516993409476,0.260380291192349,0.430189487535084,0.19489023463014rad) }
    80% { transform: rotate3d(0.561664751386548,0.993329843885584,0.145373610018309,5.4311986554956rad) }
    81% { transform: rotate3d(0.585505326704911,0.403720360104107,0.97636747840534,0.0852788177017702rad) }
    82% { transform: rotate3d(0.796252570443316,0.313321435821199,0.435813106727092,5.64154751266028rad) }
    83% { transform: rotate3d(0.59613913961847,0.571552690522399,0.00266992842308633,3.13450084550823rad) }
    84% { transform: rotate3d(0.885576906522463,0.720308908631849,0.319272685021526,2.87153488253132rad) }
    85% { transform: rotate3d(0.29029989792891,0.267448146063831,0.474232498632088,5.90794932985094rad) }
    86% { transform: rotate3d(0.30169712093319,0.611331188622396,0.337641916183169,5.67699700720158rad) }
    87% { transform: rotate3d(0.0961129445903121,0.413684154273375,0.67774101875614,5.9117963158646rad) }
    88% { transform: rotate3d(0.514712713903932,0.879189165133867,0.707145968697773,5.795692883977rad) }
    89% { transform: rotate3d(0.0575821224912885,0.96758993859149,0.78193724141044,0.0104809940701756rad) }
    90% { transform: rotate3d(0.774048595448113,0.0377327511044054,0.208349918345788,2.40719095745074rad) }
    91% { transform: rotate3d(0.615783590925018,0.802845711525135,0.499504099162311,2.80013926494763rad) }
    92% { transform: rotate3d(0.160065155412057,0.762492133352641,0.968557831803067,2.72228451554538rad) }
    93% { transform: rotate3d(0.607649831577259,0.469016450903818,0.244861699598302,5.93182501823174rad) }
    94% { transform: rotate3d(0.613024145276017,0.084934536681828,0.15613818859702,5.50418409484299rad) }
    95% { transform: rotate3d(0.814375305500776,0.692601957710707,0.432405043960278,2.01110462492703rad) }
    96% { transform: rotate3d(0.896441864841717,0.728627874331881,0.856306926866674,0.827281580358143rad) }
    97% { transform: rotate3d(0.641474913345509,0.732884137744894,0.809715009981341,3.49265581425725rad) }
    98% { transform: rotate3d(0.701860763234904,0.325592094787598,0.647899178582973,2.1005154959661rad) }
    99% { transform: rotate3d(0.762526623455375,0.955853034241483,0.97027365153941,1.1256682296845rad) }
    100% { transform: rotate3d(0.352070790894126,0.501120037054459,0.650660927523738,2.28945775006903rad) }
}

@keyframes look-away3 {
0% { transform: rotate3d(0.562667693498979,0.663622390220189,0.60865227375351,1.68227744709383rad) }
1% { transform: rotate3d(0.217286271447003,0.422584241848664,0.544962195458171,0.512841013249753rad) }
2% { transform: rotate3d(0.672097800180366,0.116562586478746,0.765823277261427,0.256635029039693rad) }
3% { transform: rotate3d(0.209604615799989,0.711650667747391,0.350342549608058,1.24776509705851rad) }
4% { transform: rotate3d(0.733583832578439,0.564563795553216,0.188145780154616,5.82942828224084rad) }
5% { transform: rotate3d(0.44616728194325,0.528194870407379,0.472456075965343,4.16461136373882rad) }
6% { transform: rotate3d(0.672734296002141,0.978397482674588,0.264340295611095,1.90898850782999rad) }
7% { transform: rotate3d(0.451102929358292,0.696108842950182,0.538066093413361,4.90479708665303rad) }
8% { transform: rotate3d(0.658731844570876,0.547714494992871,0.540363691356178,1.08618434139605rad) }
9% { transform: rotate3d(0.390121333121242,0.946595212162362,0.000488174480802739,1.34200742219525rad) }
10% { transform: rotate3d(0.0163291760552093,0.150085917371046,0.71332956232925,6.06402964902488rad) }
11% { transform: rotate3d(0.859492792994248,0.548615539143364,0.284419733160784,5.96813750892842rad) }
12% { transform: rotate3d(0.697476275768078,0.237585422485547,0.373536351643112,0.265891484661328rad) }
13% { transform: rotate3d(0.377237277948877,0.327583355587928,0.602705958348555,6.18869871809095rad) }
14% { transform: rotate3d(0.660235228132568,0.644819364127331,0.404759860351099,2.99706220149642rad) }
15% { transform: rotate3d(0.049179072124827,0.701207940590585,0.480197774150791,2.53562826260938rad) }
16% { transform: rotate3d(0.752638952388085,0.0723110749391386,0.202966015402059,5.79376657030307rad) }
17% { transform: rotate3d(0.132523481714078,0.611395353224553,0.269858465718999,5.04882580927801rad) }
18% { transform: rotate3d(0.949149879895309,0.24914502888713,0.123600260626924,4.00514770720109rad) }
19% { transform: rotate3d(0.46961177855571,0.481112748134303,0.196275151048918,1.5954302250218rad) }
20% { transform: rotate3d(0.0373751902720576,0.0287778884960439,0.817610088337479,6.2157497467484rad) }
21% { transform: rotate3d(0.0145105599519157,0.575122377635406,0.711731074296758,1.43123611929639rad) }
22% { transform: rotate3d(0.102694467358277,0.921922074794326,0.366356443081705,6.21777814661167rad) }
23% { transform: rotate3d(0.925091916557285,0.393491508726617,0.199995400243047,1.26885346910997rad) }
24% { transform: rotate3d(0.408456280483563,0.820408500018761,0.375570716301977,4.34417565556773rad) }
25% { transform: rotate3d(0.943260461191995,0.976784338132825,0.312986507806697,5.4313446668565rad) }
26% { transform: rotate3d(0.5193998724104,0.915934331993049,0.438513368914291,3.18153586409753rad) }
27% { transform: rotate3d(0.0359836923873788,0.251842349850678,0.475464858743001,0.763016218136815rad) }
28% { transform: rotate3d(0.765958153952721,0.0676025121862592,0.628490431168242,4.78363312145228rad) }
29% { transform: rotate3d(0.519781708261617,0.797059473986988,0.34291225154148,2.1681369576359rad) }
30% { transform: rotate3d(0.397098358006324,0.122158888915014,0.93088417757623,0.378033795476932rad) }
31% { transform: rotate3d(0.141332811589229,0.656057709050754,0.247753052369543,3.47581386352651rad) }
32% { transform: rotate3d(0.0193564561332058,0.940833382221523,0.774854203919878,1.67771843442769rad) }
33% { transform: rotate3d(0.836850924804574,0.0786704233056906,0.919074116220333,2.90887249630745rad) }
34% { transform: rotate3d(0.169721697886919,0.136691347365138,0.0748652264738888,1.11762069376409rad) }
35% { transform: rotate3d(0.142891273846648,0.318138468352875,0.0109994296949791,3.82841938287951rad) }
36% { transform: rotate3d(0.120027636791345,0.776401605613613,0.442197703795446,1.23420108609803rad) }
37% { transform: rotate3d(0.481240669367318,0.863426432309097,0.224875912906136,6.09389264366669rad) }
38% { transform: rotate3d(0.260505474168767,0.550326973995599,0.476597593768811,3.6495528069086rad) }
39% { transform: rotate3d(0.790548225812101,0.73556438181737,0.0604263001743374,4.94920622596809rad) }
40% { transform: rotate3d(0.660156539215037,0.164844127779025,0.298221741133985,0.488785573361797rad) }
41% { transform: rotate3d(0.227353420590315,0.7269219210663,0.481025723268552,3.3500170636596rad) }
42% { transform: rotate3d(0.651599684363674,0.960798336764235,0.73003460469207,0.0638553107191448rad) }
43% { transform: rotate3d(0.909167058172241,0.712320639761067,0.0282579839176885,1.23564527496409rad) }
44% { transform: rotate3d(0.5380500641594,0.0120000507175739,0.790813139791161,0.847285188024392rad) }
45% { transform: rotate3d(0.922261899769099,0.410891085318731,0.170907997783417,2.21819464393584rad) }
46% { transform: rotate3d(0.770085590772984,0.207669016595329,0.408915731549905,5.25920761334652rad) }
47% { transform: rotate3d(0.0668289183142263,0.227580711210228,0.923546314664658,4.33399666591477rad) }
48% { transform: rotate3d(0.189857154398327,0.0727325080029259,0.516971599541806,2.99913413249534rad) }
49% { transform: rotate3d(0.0621555594216715,0.0532189143700244,0.0198623386851442,5.90514926754871rad) }
50% { transform: rotate3d(0.190398864410741,0.329883744420084,0.937646770563082,6.02110820446844rad) }
51% { transform: rotate3d(0.184482273514389,0.152045486935928,0.175902264993116,2.58104849316565rad) }
52% { transform: rotate3d(0.887694943419726,0.457306879471136,0.720643032756561,5.19338405558976rad) }
53% { transform: rotate3d(0.560193394324437,0.515608543085954,0.228368125756545,3.46609400198688rad) }
54% { transform: rotate3d(0.653158822290053,0.745974673024129,0.841086109275473,2.99791766497732rad) }
55% { transform: rotate3d(0.586998904628861,0.311938641115515,0.18313395453238,1.56276072008082rad) }
56% { transform: rotate3d(0.604181388639432,0.610425189145001,0.419459069878839,1.73559502320678rad) }
57% { transform: rotate3d(0.205763007961453,0.308904632530629,0.45913569276121,4.97603472074743rad) }
58% { transform: rotate3d(0.900404138052231,0.156923865658457,0.873237509214955,4.20310663374677rad) }
59% { transform: rotate3d(0.99563602481235,0.400658248873032,0.862790720805949,4.41814427594612rad) }
60% { transform: rotate3d(0.943373815439082,0.262916813054095,0.660382726251523,3.69676804779881rad) }
61% { transform: rotate3d(0.315145763023637,0.616073099613932,0.0781035851318923,5.45073361703969rad) }
62% { transform: rotate3d(0.827234601255649,0.671682202579463,0.524848845013058,4.60123218098182rad) }
63% { transform: rotate3d(0.961904635023777,0.238084607544561,0.70761373699152,4.14500417139154rad) }
64% { transform: rotate3d(0.638114035129618,0.856085355389452,0.404260520866034,3.29450269644669rad) }
65% { transform: rotate3d(0.0735885449491556,0.912837143596113,0.149342174586353,0.0394468954495694rad) }
66% { transform: rotate3d(0.449859290402736,0.655344325538468,0.409917269369973,5.18471409454935rad) }
67% { transform: rotate3d(0.242844287682131,0.877544388328336,0.844892528397771,3.61551322403189rad) }
68% { transform: rotate3d(0.113779448244558,0.938711864356264,0.539280667054164,4.46849406337006rad) }
69% { transform: rotate3d(0.0687812816882258,0.685969487493168,0.683863444406174,3.36554548012908rad) }
70% { transform: rotate3d(0.190050809527843,0.799980044903838,0.0311006623038658,5.56796764775861rad) }
71% { transform: rotate3d(0.617703938097567,0.0604309916597753,0.599728006056099,3.61135358863706rad) }
72% { transform: rotate3d(0.618440572747287,0.0367142014600582,0.52333753628836,3.41144031547661rad) }
73% { transform: rotate3d(0.515741180817227,0.749240886537069,0.642337012433748,0.758390656189091rad) }
74% { transform: rotate3d(0.976006027930224,0.918121754930265,0.424035163518821,4.65641096137167rad) }
75% { transform: rotate3d(0.646029069942274,0.518481128663156,0.0622016672500283,6.00231678513324rad) }
76% { transform: rotate3d(0.419424781085533,0.49546279519437,0.155302521750305,3.87836231743469rad) }
77% { transform: rotate3d(0.673102916592318,0.657024717426309,0.191712578051968,4.16405670622317rad) }
78% { transform: rotate3d(0.659612794060905,0.958908341462958,0.180559078464078,6.24875425944091rad) }
79% { transform: rotate3d(0.867155161816328,0.623707710636334,0.1584509555317,3.79402754629944rad) }
80% { transform: rotate3d(0.566286193938964,0.794752533260746,0.97520087698473,1.30089124935165rad) }
81% { transform: rotate3d(0.950815176724499,0.715558207160338,0.715748323760041,2.24819635607676rad) }
82% { transform: rotate3d(0.250123137653519,0.746885187195965,0.350843031424665,1.29823830699961rad) }
83% { transform: rotate3d(0.941107323545184,0.885988964612108,0.725651011193455,5.16868311472783rad) }
84% { transform: rotate3d(0.720182036133704,0.836430860376295,0.793295192740105,1.67996671232064rad) }
85% { transform: rotate3d(0.2092434571174,0.0918594297399288,0.0794458003366454,2.61138297589536rad) }
86% { transform: rotate3d(0.464232490712516,0.943460505452642,0.724426313489384,5.37263654362892rad) }
87% { transform: rotate3d(0.230906199066348,0.798313752644504,0.0909026259299813,0.41261883471534rad) }
88% { transform: rotate3d(0.549654940633716,0.704682327537965,0.848074655179465,3.00031789390057rad) }
89% { transform: rotate3d(0.749679097117227,0.52030094245143,0.647391049721262,5.89570715261526rad) }
90% { transform: rotate3d(0.0925654414488093,0.731017786421407,0.990159522253686,3.65816783264901rad) }
91% { transform: rotate3d(0.326280143355817,0.529683281084469,0.654026364438135,0.5360004747361rad) }
92% { transform: rotate3d(0.192821804106077,0.398969168060426,0.0931509422781109,5.14017122505956rad) }
93% { transform: rotate3d(0.496254562725435,0.106839517842501,0.556001824052673,2.88881285590572rad) }
94% { transform: rotate3d(0.682567417665836,0.719684765628726,0.27505344110338,1.42765629989081rad) }
95% { transform: rotate3d(0.00878357653673056,0.965668834766556,0.974263083922422,6.21297260499292rad) }
96% { transform: rotate3d(0.285968694871239,0.0396282952683577,0.113060229416994,1.1522946779214rad) }
97% { transform: rotate3d(0.869264925620069,0.730902023543405,0.7396812063384,4.05015054975811rad) }
98% { transform: rotate3d(0.0378029179942202,0.57675831115231,0.562034135727422,0.902156305229353rad) }
99% { transform: rotate3d(0.15832173123708,0.596625960789664,0.860880531131184,4.43163664891932rad) }
100% { transform: rotate3d(0.0585520889097689,0.0461244014681564,0.167971371226983,3.32345610919725rad) }
}
